@use "@styles/variables";

.stepper {
  display: grid;
  place-items: center;
  gap: 3rem;
  &_label{
    font-size: 1.6rem;
    font-weight: 700;
    color: variables.$secondary-color;
    padding-left: 4px;
    cursor: pointer;
  }
  &_field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  &_buttons {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    grid-template-areas: "back next";
    margin-top: 1rem;
    &_btn {
      &_back {
        grid-area: back;
      }
      &_next {
        grid-area: next;
      }
    }
  }
}

.error{
    padding-left: 4px;  
    font-weight: 700;
    color: red;
}

@media screen and (min-width: 1920px) {
  .stepper{
    &_label{
      font-size: 1.8rem;
    }
  }
  .error{
    font-size: 1.8rem;
  }
}
