@use "@styles/variables";

.container{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 4rem;
  &_add{
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    &_link{
      padding: 1rem;
      border-radius: 1.5rem;
      font-size: 1.6rem;
      text-align: center;
      background-color: variables.$tertiary-color;
      color: white;
    }
  }
  &_wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .container{
    &_add{
      &_link{
        margin: 0 0 0 auto;
        width: 33%;
      }
    }
  }
}