@use '@styles/variables';

.container{
  background-color: rgba($color: #000000, $alpha:0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.loader{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
  &::before, &::after{
    content: '';
    position: absolute;
    border-radius: inherit;
  }

  &::before{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, variables.$primary-color 0%, variables.$secondary-color 100%);
  }

  &::after{
    width: 85%;
    height: 85%;
    background: variables.$primary-background-color;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes spin {
  to{
    transform: rotate(360deg);
  }
}