@use "@styles/variables.scss";
.text{
    border-radius:15px; 
    padding : 4px;
    background-color: variables.$secondary-color;
    
}
.container{
    display:'flex';
     flex-direction: 'column' ;
    
    
}