@use "@styles/variables.scss";
.tittle{
    text-align: center;
    
    margin-bottom: 5% ;
}
.image_container{
    width: 96%;
    height: 240px;
    margin-left: 2%;
    background-color: rgb(81, 255, 255);
}

.review{
    margin: 5% 2%;
    text-align: justify;
}
.container{
    margin: 10% 0 0;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: variables.$secondary-background-color;
   
}
.label{
    margin: 4% 2% ;
    font-weight: bold;
    
}
.textMultipleOption{
    width:100px;
    height: 25px;
    justify-content: center;
    background-color: variables.$secondary-green-color;
    margin-left: 10px;
    border-radius: 40%;
    
}
.multipleOptionContainer{
    margin-left: 5%;
    display:inline-flex;
    text-align: center;
   
    
    
}

