.proximamenteContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* O ajusta la altura según tus necesidades */
  }

  
  .proximamenteContainer h1 {
    font-size: 7rem; /* Tamaño del texto, ajusta según tu preferencia */
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }