@use "@styles/variables";

.button {
  display: grid;
  place-content: center;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  &_hamburger {
    display: block;
    position: relative;
    &::before,
    &::after,
    & {
      width: 3rem;
      height: 0.3rem;
      border-radius: 1rem;
      background-color: variables.$primary-background-color;
      transition: transform 250ms ease-in-out;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
    }

    &::before {
      top: 0.9rem;
    }

    &::after {
      bottom: 0.9rem;
    }

    &_open {
      width: 3rem;
      transform: rotate(0.625turn);
      z-index: 2;

      &::before {
        transform: rotate(90deg) translateX(-0.9rem);
      }

      &::after {
        opacity: 0;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .button {
    width: 4rem;
    height: 4rem;
    &_hamburger {
      &::before,
      &::after,
      & {
        width: 4rem;
        height: 0.4rem;
      }

      &::before {
        top: 1.2rem;
      }

      &::after {
        bottom: 1.2rem;
      }

      &_open {
        width: 4rem;
        transform: rotate(0.625turn);
        z-index: 2;

        &::before {
          transform: rotate(90deg) translateX(-1.2rem);
        }
      }
    }
  }
}
