@use "@styles/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0 1rem;
  font-size: 1.6rem;
  background-color: variables.$primary-background-color;
  color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: variables.$secondary-green-color;
}

[class*="firstContainer"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
  

}
