@use "@styles/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: variables.$normal-size-mobile;
  background-color: variables.$primary-background-color;
  color: variables.$primary-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: variables.$secondary-color;
  font-size: variables.$link-big-size-mobile;
}

h1 {
  font-size: variables.$h1-size-mobile;
}

h2 {
  font-size: variables.$h2-size-mobile;
}

h3 {
  font-size: variables.$h3-size-mobile;
}

h4 {
  font-size: variables.$h4-size-mobile;
}
