$primary-color: #051923;
$secondary-color: #006494;
$tertiary-color: #003554;
$primary-background-color: #FFFFFF;
$secondary-background-color: #F2F2F2;
$primary-grey-color: #a9a297;
$primary-border-color: #1c2a43;
$secondary-border-color: #41629b;
