$primary-color: #051923;
$secondary-color: #006494;
$tertiary-color: #003554;
$primary-background-color: #FFFFFF;
$secondary-background-color: #F2F2F2;
$primary-grey-color: #a9a297;
$primary-border-color: #1c2a43;
$secondary-border-color: #41629b;
$h1-size-mobile: 3rem;
$h2-size-mobile: 2.4rem;
$h3-size-mobile: 2rem;
$h4-size-mobile: 1.8rem;
$normal-size-mobile: 1.6rem;
$small-size-mobile: 1.5rem;
$link-big-size-mobile: 2.4rem;
$link-normal-size-mobile: 1.6rem;