$primary-green-color: #60ffd9;
$secondary-green-color: #009076;
$primary-background-color: #081426;
$secondary-background-color: #0e1b33;
$primary-blue-color: #b0cdf1;
$secondary-blue-color: #6994c9;
$primary-grey-color: #a9a297;
$primary-border-color: #1c2a43;
$secondary-border-color: #41629b;
