@use "@styles/variables";

.main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-height: calc(100dvh - 38.01rem);
}

@media screen and (min-width: 768px) {
  .main{
    min-height: calc(100dvh - 42.6rem);
  }
}

@media screen and (min-width: 1024px) {
  .main{
    padding: 3rem;
  }
}