@use "@styles/variables.scss";
.rating {
    margin-left: 10%;
    display: inline-block;
    font-size: 0; 
    justify-content: center;
  }
  
  .star {
    width: 25px; /* Tamaño de cada estrella */
    height: 25px;

    display: inline-block;
    margin-right: 7px; /* Espacio entre las estrellas */
    
  }
  
  .filled {
    background: #ffc107; /* Color de las estrellas llenas */
    
  }