@use "@styles/variables.scss";
.rating {
  margin-left: 10%;
    display: inline-block;
    font-size: 0; 
  }
  
  .star {
    width: 20px; /* Tamaño de cada estrella */
    height: 20px;
    background-color: variables.$primary-background-color;
    display: inline-block;
    margin-right: 5px; /* Espacio entre las estrellas */
    
  }
  
  .filled {
    background-color: #ffc107; /* Color de las estrellas llenas */
    
  }