@use "@styles/variables.scss";

.carousel{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;
  border-radius: 2rem;
  background-color: variables.$secondary-background-color;
  &_title{
    color: variables.$tertiary-color;
  }
  &_description{
    font-size: 1.5rem;
    color: variables.$secondary-color;
  }
  &_image{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    filter: grayscale(100%);
    transition: filter 200ms ease-in-out;
    &:hover{
      filter: grayscale(0%);
    }
  }
}