@use "@styles/variables.scss";

.title{
  color: variables.$tertiary-color;
}~

.description{
  font-size: 1.5rem;
  color: variables.$secondary-color;
}

.image{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  filter: grayscale(100%);
  transition: filter 200ms ease-in-out;
  &:hover{
    filter: grayscale(0%);
  }
}
