@use "@styles/variables.scss";

.title,
.description {
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 100%;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  gap: 1rem;
}
