@use '@styles/variables';

.container{
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 4rem 0;
  font-family: Arial, Helvetica, sans-serif;
 
  width: 100%;
  &_title {
    text-align: center;
  }
  &_form{
    width: 100%;
  }
  &_title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .container{
    &_form{
      width: 50%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .container{
    &_form{
      width: 40%;
    }
  }
}
  



.form_container {
  margin: 1;
  height: 80vh;
  padding: 0 ;
  font-family: "lato", sans-seriff;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 100%;
  
 
    
}
.field{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 45vh;
  
  
  &_label{
    padding-left: 4px;
  }
  &_input {
    background-color: variables.$secondary-background-color;
    padding: 1.5rem;
    border-radius: 2rem;

    border: none;
    color: black;
    font-family: inherit;
    &::placeholder {
      color: variables.$primary-background-color;
    }
  }
  &_error{
    font-weight: 500;
    color: red;
  }
  
}
.btn {
  width: 60%;
  background-color: variables.$primary-color;
  color: white;
  margin-bottom: 4rem;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  &_hidden{
    display: none;
  }
}